@model StockProphet_Project.Models.DbCollect

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DbCollect</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
