@{
    ViewData["Title"] = "股票預測";
    int finsihdate;
    switch (@ViewBag.usingModel)
    {
        case "LSTM":
            finsihdate = 30;
            break;
        case "FNN":
            finsihdate = 5;
            break;
        case "迴歸":
            finsihdate = 30;
            break;
        case "時間序列":
            finsihdate = 5;
            break;
        default:
            finsihdate = 0;
            break;
    }
}
<!-- 引入 Chart.js 库 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<h1>股票預測</h1>
<h1>使用模型: @ViewBag.usingModel</h1>
<h1>預測值: @ViewBag.PredictedData</h1>
<h1>MSE-Loss: @ViewBag.PredictedLoss</h1>

<!-- 创建一个 canvas 元素用于绘制图表 -->
<canvas id="stockChart" width="800" height="400"></canvas>

<script>
    var actualData = @Html.Raw(Json.Serialize(ViewBag.ChartData));
    var predictedData = @Html.Raw(Json.Serialize(ViewBag.PredictedData));

    var formattedData = actualData.map(function (item) {
        var date = moment(item.StDate).format('YYYY-MM-DD');
        return {
            x: date,
            y: item.SteClose,
            label: '日期: ' + date + ', 收盤價: ' + item.SteClose
        };
    });

    var lastActualDate = moment(formattedData[formattedData.length - 1].x);
    var predictedDate = moment(lastActualDate).add(@finsihdate, 'day');
    var formattedPredictedDate = predictedDate.format('YYYY-MM-DD');
    var predictedClosePrice = predictedData;

    var ctx = document.getElementById('stockChart').getContext('2d');

    var stockChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [], // 將刻度值放在這裡
            datasets: [{
                label: '實際收盤價',
                data: formattedData,
                borderColor: 'blue',
                fill: false
            }, {
                label: '預測收盤價',
                data: [{
                    x: formattedPredictedDate,
                    y: predictedClosePrice
                }],
                borderColor: 'red',
                fill: false,
                pointRadius: 10
            }, {
                label: '趨勢線',
                data: [{
                    x: formattedData[formattedData.length - 1].x,
                    y: formattedData[formattedData.length - 1].y
                }, {
                    x: formattedPredictedDate,
                    y: predictedClosePrice
                }],
                borderColor: 'red',
                fill: false,
                pointRadius: 0,
                borderWidth: 0.5,
                borderDash: [5, 5]
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month', // 指定刻度的時間單位
                        displayFormats: {
                            month: 'YYYY-MM' // 指定月份的顯示格式
                        }
                    },
                    ticks: {
                        maxTicksLimit: 7 // 限制最大刻度數
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
