@{
    string PasswordPattern = @"^(?=.*[!@#$%^&*])(?=.{8,})[a-zA-Z0-9!@#$%^&*]+$";
    string MEmailPattern = @"^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$";
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<style>
    #checkEye1 {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    #checkEye2 {
      
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .form-container {
        max-width: 500px;
        background-color: #fff;
        padding: 32px 24px;
        font-size: 14px;
        font-family: inherit;
        color: #212121;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    }

    /* 下拉選單 */
    .news-filter select {
        background: #fff;
        color: black;
        margin: 5px;
        width: 300px;
        height: 3em;
        /* padding: 8px; */
        position: relative;
        border-radius: 5px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /*  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#003d79, #003d79);
                background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(#003d79, #003d79);
                background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(#003d79, #003d79);
                */
        background-position: right 0.5em top 50%, 0 0;
        background-size: contain, cover;
        background-repeat: no-repeat, repeat;
    }

    option {
        appearance: none;
        background: #fff;
        position: absolute;
    }
</style>
@* <h1 class="text-">會員功能-修改個人資料</h1> *@

<div class="row">
@*     <div class="col-md-4">
        <button id="showMemberIndex">回到會員頁</button><br>
        <button id="showRevise">修改個人資料</button><br>
        <button id="showFavoritesPage">我的收藏</button><br>
        <button id="showPredictFunc">我要預測</button><br>
        <button id="showHistoryPage">我的預測結果</button><br>
    </div> *@
    <div class="col-md-8">

        <div id="beforeLog">
            <b>請先登入會員</b>
        </div>

        <div id="afterLog">
            @* 2.修改個人資料 *@
            <div id="Revise" class="form-container">
                <form>
                    <div class="logo-container">修改個人資料</div>
                @*     <div>
                        <label for="Account" id="Account">帳號:</label>
                    </div> *@

                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" pattern="@PasswordPattern" size="20" minlength="20" name="MPassword" id="Password" title="請輸入原始密碼" value="">
                        <label class="form-label" for="Password">修改密碼:</label>
                        <i id="checkEye1" class="fas fa-eye-slash"></i>
                        <span id="passwordError" style="color: red;"></span>

                    </div>
                    <div id="pass1" class="form-floating mb-3">
                        <input class="form-control" type="password" pattern="@PasswordPattern" size="20" minlength="20" name="MPassword1" id="Password1" title="至少包含一個特殊符號，且長度須超過8碼" value="">
                        <label class="form-label" for="Password">輸入新密碼:</label>
                        
                        <i id="checkEye2" class="fas fa-eye-slash"></i>
                        <span id="passwordError" style="color: red;"></span>
                    </div>
                    <div id="pass2" class="form-floating mb-3">
                        <input class="form-control" type="password" pattern="" size="20" minlength="20" name="MPassword2" id="Password2" title="請再輸入您剛才設定的密碼" value="">
                        <label class="form-label" for="Password">請再輸入一次新密碼:</label>                       
                        @* 再次輸入密碼不同時，顯示提示字 *@
                        <span id="passwordError" style="color: red;"></span>
                        <span id="pwdnoteword"><p style="color:red; ">您輸入的密碼不相同</p></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" pattern="@MEmailPattern" name="MEmail" id="Email" value="" required>
                        <label class="form-label" for="Email">信箱:</label>
                        <span id="emailError" style="color: red;"></span>
                        <br>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="MTrueName" id="UserName" value="">
                        <label class="form-label" for="UserName">姓名:</label>
                        <br>
                    </div>
                    
                    <div >
                        <label for="Birthday" id="Birthday">生日:</label>
                    <br>
                    </div>

                    <div >
                        <label for="MGender" id="MGender">性別:</label>
                    <br>
                    </div>
                    <div>
                        <label for="MInvestYear">您的投資年數:</label>
                        <select name="MInvestYear" id="InvestYear" required>
                            <option value="1">未滿1年</option>
                            <option value="2">1-3年</option>
                            <option value="3">3-5年</option>
                            <option value="4">5年以上</option>
                        </select>
                        <br>
                    </div>
                    
                    <div class="news-filter">
                        <label for="MLevel" id="MLevel">會員等級:</label>
                        <br>
                    </div>
                    

                    <button id="ReviseData">修改資料</button>
                    <button id="Reset">取消</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //判斷會員是否登入
    var MID = sessionStorage.getItem("LogAccount")

    if (MID == null) {
        $('#beforeLog').show();
        $('#afterLog').hide();
    } else {
        $('#beforeLog').hide();
        $('#afterLog').show();
    }

    // 設定新密碼的提示字
    $('#pwdnoteword').hide();

    //輸入正確舊密碼前不能修改
    $('#pass1').css('display', 'none');
    $('#pass2').css('display', 'none');

    $(function () {
        //密碼欄位
        $("#checkEye1").click(function () {
            if ($(this).hasClass('fa-eye-slash')) {
                $("#Password").attr('type', 'text');
            } else {
                $("#Password").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
        });

        $("#checkEye2").click(function () {
            if ($(this).hasClass('fa-eye-slash')) {
                $("#Password1").attr('type', 'text');
                $("#Password2").attr('type', 'text');
            } else {
                $("#Password1").attr('type', 'password');
                $("#Password2").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
        });


        // // 1.點擊回到會員頁
        // $('#showMemberIndex').on("click", function () {
        //     window.location.href = "/Member/Index";
        // })
        // // 2.點擊修改個人資料
        // $('#showRevise').on("click", function () {
        //     window.location.href = "/Member/Edit";
        // })
        // // 3.點擊我的收藏
        // $('#showFavoritesPage').on("click", function () {
        //     window.location.href = "/Member/MyCollect";
        // })
        // // 4.點擊我要預測
        // $('#showPredictFunc').on("click", function () {
        //     window.location.href = "/StockModel/Predictindex";
        // })
        // // 5.點擊我的預測結果
        // $('#showHistoryPage').on("click", function () {
        //     window.location.href = "/Member/MyPredictResult";
        // })
        //將登入的會員資料帶到前台-不可修改的(帳號、生日、性別、會員等級)
        var LogAccount = sessionStorage.getItem("LogAccount");
        // $('#Account').append(`<label>${LogAccount}</label>`);
        var LogMemberBirthday = sessionStorage.getItem("LogMemberBirthday");
        $('#Birthday').append(`<label>${LogMemberBirthday}</label>`);
        var LogMemberGender = sessionStorage.getItem("LogMemberGender");
        $('#MGender').append(`<label>${LogMemberGender}</label>`);
        var LogMemberLevel = sessionStorage.getItem("LogMemberLevel");
        // console.log(LogMemberLevel);
        switch (LogMemberLevel) {
            case "normal":
                $("#MLevel").append("<label>一般會員</label>");
                break;
            case "一般會員":
                $("#MLevel").append("<label>一般會員</label>");
                break;
            case "high":
                $("#MLevel").append("<label>高級會員</label>");
                break;
            case "高級會員":
                $("#MLevel").append("<label>高級會員</label>");
                break;
            case "管理者":
                $("#MLevel").append("<label>管理者</label>");
                break;
            default:
                break;
        }

        //將登入的會員資料帶到前台-可修改的(信箱、姓名、投資年數)
        var LogMemberEmail = sessionStorage.getItem("LogMemberEmail");
        $('#Email').val(LogMemberEmail);
        var LogMemberName = sessionStorage.getItem("LogMemberName");
        $('#UserName').val(LogMemberName);
        var LogMemberInvestYear = sessionStorage.getItem("LogMemberInvestYear");
        // console.log(LogMemberInvestYear);
        switch (LogMemberInvestYear) {
            case "1":
                $("#InvestYear").val("1");
                // console.log("1")
                break;
            case "2":
                $("#InvestYear").val("2");
                // console.log("2")
                break;
            case "3":
                $("#InvestYear").val("3");
                // console.log("3")
                break;
            case "4":
                $("#InvestYear option[value='4']").prop("selected", true);
                // console.log("5")
                break;
            default:
                console.log("error");
                break;
        }

        function RevisePassword() {
            //打開密碼欄位可以編輯
            $('#pass1').css('display', 'block');
            $('#pass2').css('display', 'block');

            //檢查兩次輸入的密碼是否一致
            $('#Password2').on("change", function () {
                var MPassword1 = $('#Password1').val();
                var MPassword2 = $('#Password2').val();
                if (MPassword2 == "") {
                    $('#pwdnoteword').show();
                    $('#pwdnoteword').text("必填")
                } else {
                    if (MPassword1 != MPassword2) {
                        $('#pwdnoteword').show();
                    }
                    else {
                        $('#pwdnoteword').hide();
                        console.log("ok");
                    }
                }
            })
            //+ 正則
            $('#Password').on('change', function () {
                var passwordValue = $(this).val();
                var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

                // 检查输入值是否匹配正则表达式
                if (!passwordPattern.test(passwordValue)) {
                    $('#passwordError').text('密码格式不符合要求，"需至少包含一個特殊符號，且長度須超過8碼"');
                } else {
                    $('#passwordError').text('');
                }
            });

            $('#Password1').on('change', function () {
                var passwordValue = $(this).val();
                var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

                // 检查输入值是否匹配正则表达式
                if (!passwordPattern.test(passwordValue)) {
                    $('#passwordError').text('密码格式不符合要求，"需至少包含一個特殊符號，且長度須超過8碼"');
                } else {
                    $('#passwordError').text('');
                }
            });
            $('#Password2').on('change', function () {
                var passwordValue = $(this).val();
                var passwordPattern = new RegExp(@Html.Raw(Json.Serialize(PasswordPattern)));

                // 检查输入值是否匹配正则表达式
                if (!passwordPattern.test(passwordValue)) {
                    $('#passwordError').text('密码格式不符合要求，"需至少包含一個特殊符號，且長度須超過8碼"');
                } else {
                    $('#passwordError').text('');
                }
            });
        }

        //(1).判斷該會員的舊密碼是否一致
        //Yes =>可以修改
        //NO  =>不能修改

        $('#Password').on("change", function () {
            var checkPassword = {
                Account: LogAccount,
                checkPassword: $('#Password').val()
            }

            console.log(checkPassword);

            $.ajax({
                url: "/Member/checkPassword",
                method: "get",
                data: checkPassword,
                success: function (e) {
                    console.log(e)
                    if (e) {
                        RevisePassword();
                        alert("舊密碼輸入正確");
                    }
                    else {
                        alert("密碼輸入錯誤")
                    }
                }
            })
        })


        // (2).將修改的資料存回資料庫
        $('#ReviseData').on("click", function () {

            NewEmail = $('#Email').val(),
                NewName = $('#UserName').val(),
                NewInvestYear = $('#InvestYear').val()
            //是否修改密碼
            NewPassword = $('#Password2').val()
            if (NewPassword != null) { NewPassword = $('#Password2').val() }
            else {
                NewPassword = $('#Password1').val()
            }

            var dataToServer = {
                Account: `${LogAccount}`,
                NewPassword: `${NewPassword}`,
                NewEmail: $('#Email').val(),
                NewName: $('#UserName').val(),
                NewInvestYear: $('#InvestYear').val()
            }
            console.log(dataToServer)

            $.ajax({
                url: "/Member/SaveReviseMemberData",
                method: "put",
                data: dataToServer,
                success: function (e) {
                    console.log(e);
                    if (e) {
                        $.ajax({
                            url: "/Member/ReturnReviseMemberData",
                            method: "get",
                            data: { LogAccount },
                            success: function (e) {
                                return e
                            }
                        })
                        alert("資料修改成功");
                        sessionStorage.setItem("LogMemberName", NewName);
                        sessionStorage.setItem("LogMemberEmail", NewEmail);
                        sessionStorage.setItem("LogMemberInvestYear", NewInvestYear);

                        window.location.href = "/Member/Edit";
                    } else {
                        alert("資料修改失敗");
                    }

                }
            })
        })

    })

</script>