@* @{
    ViewData["Title"] = "Search Results";
}
@model IEnumerable<StockProphet_Project.Models.DbModel>
@{
    // 從ViewBag中取得pidStrings的總數
    var pidStringsCount = ViewBag.PidStringsCount;
}



@{
    ViewData["Title"] = "My Collection";
}
 *@




<link rel="stylesheet" href="~/css/stockChartStyle.css" type="text/css" />


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@@{
    //修改會員資料
    var MInvestYear = @Context.Session.GetString("MinvestYear")!;
    var Mlevel = @Context.Session.GetString("Mlevel")!;
}

<style>
    /* 排序下拉選單靠右 */
    .align-right {
        float: right;
        text-align: right;
    }

    <script src="https://d3js.org/d3.v4.js" > </script >
    /*翻轉卡片*/
    .prediction-card {
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: block;
        width: 350px;
        height: 250px;
        cursor: pointer;
        margin: 20px;
    }

    .card-content {
        position: relative;
        height: 100%;
        width: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 500ms;
        transition: all 500ms;
    }

        .card-content div {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #fff;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .card-content .card-back {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            display: flex;
            justify-content: center; /*上下置中*/
            align-items: center; /*左右置中*/
        }

    .prediction-card:hover .card-content {
        box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
    }

    .card-btn {
        display: none;
    }

    :checked + .card-content {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }

    .prediction-card:hover :checked + .card-content {
        box-shadow: 0 -20px 20px rgba(50, 50, 50, 0.2);
    }

    .prediction-collect {
        position: absolute;
        right: 20px;
        bottom: 10px;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        z-index: 10;
    }

    .forPre {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -50%);
        transform: translate(-48%, -50%);
    }

    /*預測股票的那點*/
    /*.myCircle:hover {
                                                                    stroke: red;
                                                                }*/

    .card-front {
        padding: 20px;
        z-index: 1;
    }

    .pre-state {
        font-size: 32px;
    }

    .pre-td {
        padding-left: 10px;
    }
</style>

<h1 class="text-">會員功能-我的收藏</h1>



<div class="row">
    <div class="col-md-4">
        <button id="showMemberIndex">回到會員頁</button><br>
        <button id="showRevise">修改個人資料</button><br>
        <button id="showFavoritesPage">我的收藏</button><br>
        <button id="showPredictFunc">我要預測</button><br>
        <button id="showHistoryPage">我的預測結果</button><br>
    </div>

    <div class="col-md-8">
        @* Session 傳值 *@
        @* <div style="background-color:lightpink">
        <p> <b>Session傳值1:</b> @Context.Session.GetString("MID") </p><br>
        <p> <b>Session傳值2:</b> @Context.Session.GetString("MEmail")</p>
        <p> <b>Session傳值3:</b> @Context.Session.GetString("Mlevel")</p>
        <p> <b>Session傳值4:</b> @MInvestYear</p>
        </div> *@



        <div id="beforeLog">

            @*   <button id="MemberLogin">請先登入會員</button><br> *@

            @* @if (string.IsNullOrEmpty(Context.Session.GetString("MID")))
            {} *@
            <h1>請先登入會員</h1>

        </div>

        @* <div id="afterLog">

        @if (sessionStorage.getItem("LogMemberLevel") == "high")
        {
        <p class="align-right">(@ViewBag.PidStringsCount/∞)已收藏筆數</p>
        }
        else if (sessionStorage.getItem("LogMemberLevel") == "normal")
        {
        <p class="align-right">(@ViewBag.PidStringsCount/5)已收藏筆數</p>
        }
        else
        {
        <p class="align-right">无法获取会员等级</p>
        }


        <!-- 搜索表单 -->
        <form id="searchForm" method="post">
        <input type="text" id="searchTerm" name="searchTerm" placeholder="輸入股票代號" required>
        <button type="submit">GO</button>
        </form>
        <p>@ViewBag.SearchResults = searchResults;</p>
        <!-- 搜索结果 -->
        <div id="searchResultsDisplay" style="display: none;">
        @if (ViewBag.SearchResults != null && ViewBag.SearchResults.Count > 0)
        {
        <ul>
        @foreach (var result in ViewBag.SearchResults)
        {
        <li>@result.Pstock </li>
        }
        </ul>
        }
        else
        {
        <p>尚無股票預測結果。</p>
        }
        </div>





        <div class="align-right">
        <label for="arrange">排序按</label>
        <select id="arrange" name="arrange">
        <option value="StockNo">股票代號</option>
        <option value="PredictDate">預測日期</option>
        <option value="Price">預測價格</option>

        </select>
        </div>
        <hr />
        <div style="display: flex; flex-wrap: wrap;">


        @if (ViewBag.FavoriteItems != null)
        {
        @foreach (var item in ViewBag.FavoriteItems)
        {
        <div class="col-md-4 mb-4">
        <div class="card">
        <div class="card-header">
        股票代號：@item.Pstock
        </div>
        <div class="card-body">
        <h5 class="card-title">預測價格：@item.Plabel</h5>
        <p class="card-text">預測時間：@item.PbulidTime</p>
        </div>
        </div>
        </div>
        }
        }
        else
        {
        <p>沒有收藏的項目。</p>
        }

        </div>




        </div> *@

        <!-- 在视图页面中 -->
        <div id="afterLog">
            <div id="favoriteItems"></div>
            <div id="results">
                <!-- 这里将显示从控制器返回的数据 -->
            </div>

            <!-- 搜索表单 -->
            <form id="searchForm" method="post">
                <input type="text" id="searchTerm" name="searchTerm" placeholder="輸入股票代號" required>
                <button type="submit">GO</button>
            </form>
            <p id="searchResults"></p> <!-- 搜索结果 -->

            <div class="align-right">
                <label for="arrange">排序按</label>
                <select id="arrange" name="arrange">
                    <option value="StockNo">股票代號</option>
                    <option value="PredictDate">預測日期</option>
                    <option value="Price">預測價格</option>
                </select>
            </div>
            <hr />
            <div id="favoriteItemsDisplay" style="display: flex; flex-wrap: wrap;"></div>




        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
        <script>
            //判斷會員是否登入
            var MID = sessionStorage.getItem("LogAccount")

            if (MID == '') {
                $('#beforeLog').show();
                $('#afterLog').hide();
            } else {
                $('#beforeLog').hide();
                $('#afterLog').show();
            }
            console.log("顯示MID:" + MID);

            $(function () {
                // 1.點擊回到會員頁
                $('#showMemberIndex').on("click", function () {
                    window.location.href = "/Member/Index";
                })

                // 2.點擊修改個人資料
                $('#showRevise').on("click", function () {
                    window.location.href = "/Member/Edit";
                })
                // 3.點擊我的收藏
                $('#showFavoritesPage').on("click", function () {
                    window.location.href = "/Member/MyCollect";
                })

                // 4.點擊我要預測
                $('#showPredictFunc').on("click", function () {
                    window.location.href = "/StockModel/Predictindex";
                })

                // 5.點擊我的預測結果
                $('#showHistoryPage').on("click", function () {
                    window.location.href = "/Member/MyPredictResult";
                })

                // 6.點擊登入會員
                $('#MemberLogin').on("click", function () {
                    window.location.href = "/Member/Login";
                })

                // 5.點擊我的預測結果
                $('#searchbtn').on("click", function () {
                    window.location.href = "/Member/MyCollect";
                })

                // 从 sessionStorage 中獲取當前登入 Favorite
                // var MFavorite = sessionStorage.getItem("LogMemberfavoriteModel");
                

                // $.ajax({
                //     method: "get",
                //     url: "/Member/MyCollect1", // 根据实际的路由配置调整路径
                //     data: { sessionFavorite: MFavorite }, // 传递的数据
                //     success: function (data) {
                //         console.log(data)
                //     }
                // });
                // $.ajax({
                //     method: "get",
                //     url: "/Member/Test",
                //     data: { sessionMID: 104 },
                //     success: function (data) {
                //         console.log(data)


                //     }
                // });

                $.ajax({
                    method: "GET",
                    url: "/Member/Test",
                    data: { sessionMID: "104" },
                    success: function (data) {
                        console.log(data)
                        // 清空原有内容
                        $('#results').empty();

                        // 检查返回的数据是否为空
                        if (data && data.length > 0) {
                            // 遍历返回的数据并创建 HTML 元素来显示每个对象的属性
                            data.forEach(function (item) {
                                // 创建新的卡片元素
                                var card = $('<div>');
                                card.addClass('card');

                                // 添加卡片内容
                                card.append('<p>ST Date: ' + item.STdate + '</p>');
                                card.append('<p>P Account: ' + item.PAcount + '</p>');
                                card.append('<p>P Stock: ' + item.PStock + '</p>');
                                card.append('<p>P Label: ' + item.PLabel + '</p>');
                                card.append('<p>Parameter: ' + item.Parameter + '</p>');
                                card.append('<p>P Build Time: ' + item.PBuildTime + '</p>');
                                card.append('<p>P Finish Time: ' + item.PFinsihTime + '</p>');
                                card.append('<p>Ste Close: ' + item.SteClose + '</p>');

                                // 将新卡片添加到页面中
                                $('#results').append(card);
                            });
                        } else {
                            // 如果没有数据，显示相应的消息
                            $('#results').append('<p>No data available</p>');
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理错误情况
                        console.error('Request failed with status:', status);
                    }
                });



                // 監聽表單提交事件
                document.getElementById('searchForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    var searchTerm = document.getElementById('searchTerm').value; // 獲取搜索關鍵字
                    searchStock(searchTerm); // 調用搜索函數
                });

                // 搜索函數
                function searchStock(searchTerm) {
                    // 使用 fetch API 發起 POST 請求到服務器端的 Search 方法
                    fetch('/MyCollect/Search', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(searchTerm), // 將搜索關鍵字轉換為 JSON 格式並作為請求體發送
                    })
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('searchResultsDisplay').innerHTML = data; // 更新搜索結果顯示區域的內容
                            document.getElementById('searchResultsDisplay').style.display = 'block'; // 顯示搜索結果區域
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        </script>




