@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/indexStyle.css" type="text/css" />

<div id="SessionTest"  style="display:none;" >
<div class="text-center">
    <div style="background-color:lightpink">
        <p> <b>Session傳值1:</b> @Context.Session.GetString("MID")</p><br>
        <p> <b>Session傳值2:</b> @Context.Session.GetString("MEmail")</p>
        <p> <b>Session傳值3:</b> @Context.Session.GetString("Mlevel")</p>
    </div>
</div>
<p>網站首頁</p>
<div style="background-color:lightpink">
    <p> <b>Session傳值1:</b> @Context.Session.GetString("MID")</p><br>
    <p> <b>Session傳值2:</b> @Context.Session.GetString("MEmail")</p>
    <p> <b>Session傳值3:</b> @Context.Session.GetString("Mlevel")</p>
</div>
</div>




<div class="upArea">
	<div id="search-box">
		<label for="search"></label>
		<input type="text" id="search" />
		<button onclick="changePage()">O</button>
	</div>
	<p class="search-hint"  style="display:none" >是不是輸錯了呢？再確認一下股票代碼或名稱吧！</p> 
</div>
<div class="bottomArea">
	<div class="bottom-left">
		<div class="MB-icon"><img src="~/FB.gif" class="SP-ani"/></div>
	</div>
	<div class="bottom-right">
		<div class="m-btn">
			<button class="btn-m">會員專區</button>
			<button class="btn-t">遊客體驗</button>
		</div>
	</div>
</div>
<script src="~/js/indexSearch.js"></script>