@model DbModel
@{
	//http://localhost:5271/stockmodel/predictphoto?pid=49
	ViewData["Title"] = "股票預測";

	DateTime PfinishTime = DateTime.Today.AddDays(5);
	DateTime PbulidTime = DateTime.Today;

	TimeSpan difference = DateTime.Now.Subtract(PfinishTime);
	TimeSpan differenceOpp = (PfinishTime).Subtract(DateTime.Now);
	var VarsTable = ViewBag.VarsTable;


	int finishdate = (int)PfinishTime.Subtract(PbulidTime).TotalDays;
	bool isTracing = ((int)difference.TotalDays <= 0) ? true : false;
	string finishdateCountDownStr = "";

	// 製作預測前時間區間 -------------
	// var ActualPrice = ChartData.Where(x => x.StDate.CompareTo(finishdates) <= 0).OrderByDescending(x => x.StDate).FirstOrDefault().SteClose;
	var finishdates = DateOnly.Parse(PfinishTime.ToString("yyyy-MM-dd"));
	var BuildDates = DateOnly.Parse(PbulidTime.ToString("yyyy-MM-dd"));

	var ChartData = new List<Stock>();
	ChartData = ViewBag.result.ChartData;
	ChartData = ChartData.Where(x => x.StDate.CompareTo(finishdates) <= 0).ToList();
	var LatestNdays_ori = ChartData.Where(x => x.StDate.CompareTo(BuildDates) <= 0).OrderByDescending(x => x.StDate).Take(finishdate).OrderBy(x => x.StDate);
	string ori_timeArea = "";
	string ori_timeArea_Jtype = "";
	int i = 0;
	foreach (var item in LatestNdays_ori) {
		// original的時間區間
		if (i == 0 || i == LatestNdays_ori.Count() - 1) {
			ori_timeArea += item.StDate.ToString("MM/dd") + ",";
			if (i == 0) {
				ori_timeArea_Jtype += item.StDate + ",";
			} else if (i == LatestNdays_ori.Count() - 1) {
				ori_timeArea_Jtype += item.StDate;
			}
		} else {
			ori_timeArea_Jtype += item.StDate + ",";
		}
		i++;
	}
	ori_timeArea = ori_timeArea.Split(",")[0] + "~" + ori_timeArea.Split(",")[1];

	// 製作目前(預測)時間區間 -------------
	var LatestNdays = ChartData.Where(x => x.StDate.CompareTo(finishdates) <= 0).OrderByDescending(x => x.StDate).Take(finishdate).OrderBy(x => x.StDate);
	string timeArea = "";
	string timeArea_Jtype = "";
	i = 0;
	foreach (var item in LatestNdays) {
		// LatestN的時間區間
		if (i == 0 || i == LatestNdays.Count() - 1) {
			timeArea += item.StDate.ToString("MM/dd") + ",";

			if (i == 0) {
				timeArea_Jtype += item.StDate + ",";
			} else if (i == LatestNdays_ori.Count() - 1) {
				timeArea_Jtype += item.StDate;
			}
		} else {
			timeArea_Jtype += item.StDate + ",";
		}
		i++;

	}
	timeArea = timeArea.Split(",")[0] + "~" + timeArea.Split(",")[1];



	// 取得數據最大最小值 -------------
	var MaxPrice = Math.Round((decimal)ChartData.Max(x => x.SteClose), 1);
	var MinPrice = Math.Round((decimal)ChartData.Min(x => x.SteClose), 1);
	// var MaxAcc = Math.Round(((decimal)PredictedData) / (decimal)ChartData.Min(x => x.SteClose) * 100, 1);
	// var MinAcc = Math.Round(((decimal)PredictedData) / (decimal)ChartData.Max(x => x.SteClose) * 100, 1);

	// var MaxAcc = 100;
	// var MinAcc = 0;

	// 製作AccComment & 結果  -------------
	string accComment = "";
	string rltComment = "";
	bool NeedShowAcc = (int)differenceOpp.TotalDays <= Math.Round(((decimal)finishdate) / 2, 0);
	int NeedShowDays = Math.Abs((int)differenceOpp.TotalDays - (int)Math.Round(((decimal)finishdate) / 2, 0));
	// var normalized_acc = Math.Round(((acc - MinAcc) / (MaxAcc - MinAcc)) * 100, 2);
	if (NeedShowAcc) {
		accComment = "預估準確率為「" + Model.PAccuracyRatio + " %」。";
		rltComment = ((Model.PreTrend == Model.PActTrend) ? "成功" : "失敗");
	} else {
		accComment = "待" + NeedShowDays + "日，模型穩定後，追蹤預估準確率。";
		rltComment = "待" + NeedShowDays + "日，模型穩定後，追蹤預估準確率。";
	}
	// 製作誤差計算  -------------

	// if LSTM 可能要全改寫
	bool IsNNModel = (ViewBag.result.usingModel == "LSTM" || ViewBag.result.usingModel == "FNN") ? true : false;
	Console.WriteLine($"IsNNModel = {IsNNModel},NeedShowAcc = {NeedShowAcc}, NeedShowDays = {NeedShowDays},(int)differenceOpp.TotalDay= {(int)differenceOpp.TotalDays}, Math.Round(((decimal)finishdate) / 2 = {Math.Round(((decimal)finishdate) / 2)}");
	if (IsNNModel) {
		// <finishdate 的最近close價格
		if (NeedShowAcc) {
			accComment = "預估準確率為「" + Model.PAccuracyRatio + " %」。";
			rltComment = Model.PResult;
		} else {
			accComment = "待" + NeedShowDays + "日，模型穩定後，追蹤預估準確率。";
			rltComment = "待" + NeedShowDays + "日，模型穩定後，追蹤預估準確率。";
		}
	}

	if (isTracing) {
		// 追蹤中
		finishdateCountDownStr += "預測「追蹤中」，整體走勢「" +
		Model.PreTrend + "」，參考價「" + Model.Plabel + "」元；" + accComment + "此預測將於「" +
		(int)differenceOpp.TotalDays + "」天後結案。";
	} else {
		finishdateCountDownStr += "預測「已結案" + (int)difference.TotalDays + "天」，預測趨勢「" + Model.PreTrend +
		"」，實際「走" + Model.PActTrend.Substring(1, 1) + "」，趨勢預測「" + Model.PResult + "；模型準確率為「" +
		Model.PAccuracyRatio + "%」";
	}

}
<!-- 引入 Chart.js 库 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
@{
	var customerlevel = @Context.Session.GetString("Mlevel");
}
@* 引用+CSS *@
<link rel="stylesheet" href="~/css/visitorStyle.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="~/js/indexSearch.js"></script>
<style>

</style>

<img class="bg-chart" src="~/homePage/chart.png" />
<img class="bg-line" src="~/homePage/chart2.png" />
<div class="area-container">
	<div class="pre-container">
		<div id="afterLog">
			
			<div class="start-part">
				<h2>歡迎來到體驗預測的地方！</h2>
				<p>在這裡，我們會說明選項差異，帶著你一起完成預測，一起朝股票大師邁進吧！</p>
			</div>
			<div class="start-final" style="display:none">
				<h2 class="mb-3">感謝您的參與！</h2>
				<p>體驗預測僅是帶您走一次過程</p>
				<p>想使用實際完整、詳細的預測模型，歡迎加入我們的會員</p>
				<p>也歡迎分享您的結果，讓我們一起變得更好！</p>
			</div>
			<button class="fa-solid fa-angles-down arror-icon" onclick="continueVister()"></button> <p class="arror-icon-content" style="display:none">在體驗預測中，結果會先以長期&回歸模型呈現哦！</p>
			<div class="part-one">
				<h3 class="display-6 mb-3">第一步:選定股票</h3>

				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">股票代號</span>
					<input type="text" class="form-control SnCode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="stockidV" name="SnCode" onchange="stockinput()" onpaste="return false">
				</div>
				<div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">股票名稱</span>
						<div id="stockname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly></div>
					</div>
				</div>
			</div>
			<div id="step2">
				<h3 class="display-6 mb-3">第二步:選定投資偏好及選擇模型</h3>
				<h4><b>投資偏好</b></h4>
				<center>
					<div style="display: flex;">
						<div class="btn-group" role="group" aria-label="Basic example">
							<button id="longterm" type="button" class="btn-w-hover">長期</button>
							<button id="shortterm" type="button" class="btn-w-hover">短期</button>
						</div>
					</div>
				</center>
				<br>
				<label><h4><b>選擇模型</b></h4></label>
				<select class="form-select" id="selectmodel" multiple aria-label="multiple select example">
					<option value="3" class="selectmodel-3">迴歸</option>
					<option value="4" class="selectmodel-4">時間序列</option>
					<option value="1" class="selectmodel-1">LSTM</option>
					<option value="2" class="selectmodel-2">FNN</option>
				</select>
			</div>

			@* xaiver model *@
			<div id="kazuoform3">
				<h3 class="display-6">第三步:設定參數並建置模型預測</h3>
				<h4>變數選擇:</h4>
				<div id="ksParaArea">
					<div class="accordion accordion-flush" id="accordionFlushExample">
						<div class="accordion-item ApartBox">
							<h2 class="accordion-header" id="flush-headingOne">
								<button class="accordion-button collapsed ApartBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
									技術面
								</button>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body ParaArea Apart">

									<input type="checkbox" id="kazuopara1" name="SteOpen" autocomplete="off" class="btn-check">
									<label class="btn btn-outline-secondary" for="kazuopara1">開盤價</label>
									<input type="checkbox" id="kazuopara2" name="SteClose" autocomplete="off" class="btn-check">
									<label for="kazuopara2" class="btn btn-outline-secondary">收盤價</label>
									<input type="checkbox" id="kazuopara3" name="SteMax" autocomplete="off" class="btn-check">
									<label for="kazuopara3" class="btn btn-outline-secondary">最高價</label>
									<input type="checkbox" id="kazuopara4" name="SteMin" autocomplete="off" class="btn-check">
									<label for="kazuopara4" class="btn btn-outline-secondary">最低價</label>
									<input type="checkbox" id="kazuopara5" name="SteSpreadRatio" autocomplete="off" class="btn-check">
									<label for="kazuopara5" class="btn btn-outline-secondary">震幅</label>
									<input type="checkbox" id="kazuopara6" name="SteTradeMoney" autocomplete="off" class="btn-check">
									<label for="kazuopara6" class="btn btn-outline-secondary">當日交易額</label>
									<input type="checkbox" id="kazuopara7" name="SteTradeQuantity" autocomplete="off" class="btn-check">
									<label for="kazuopara7" class="btn btn-outline-secondary">當日交易量</label>
									<input type="checkbox" id="kazuopara8" name="SteTransActions" autocomplete="off" class="btn-check">
									<label for="kazuopara8" class="btn btn-outline-secondary">當日交易比數</label>
									<input type="checkbox" id="kazuopara9" name="SiMovingAverage5" autocomplete="off" class="btn-check">
									<label for="kazuopara9" class="btn btn-outline-secondary">移動平均_5天</label>
									<input type="checkbox" id="kazuopara10" name="SiMovingAverage30" autocomplete="off" class="btn-check">
									<label for="kazuopara10" class="btn btn-outline-secondary">移動平均_30天</label>
									<input type="checkbox" id="kazuopara11" name="SiRsv5" autocomplete="off" class="btn-check">
									<label for="kazuopara11" class="btn btn-outline-secondary">RSV_5天</label>
									<input type="checkbox" id="kazuopara12" name="SiRsv30" autocomplete="off" class="btn-check">
									<label for="kazuopara12" class="btn btn-outline-secondary">RSV_30天</label>
									<input type="checkbox" id="kazuopara13" name="SiK5" autocomplete="off" class="btn-check">
									<label for="kazuopara13" class="btn btn-outline-secondary">K_5天</label>
									<input type="checkbox" id="kazuopara14" name="SiK30" autocomplete="off" class="btn-check">
									<label for="kazuopara14" class="btn btn-outline-secondary">K_30天</label>
									<input type="checkbox" id="kazuopara15" name="SiD5" autocomplete="off" class="btn-check">
									<label for="kazuopara15" class="btn btn-outline-secondary">D_5天</label>
									<input type="checkbox" id="kazuopara16" name="SiD30" autocomplete="off" class="btn-check">
									<label for="kazuopara16" class="btn btn-outline-secondary">D_30天</label>
									<input type="checkbox" id="kazuopara17" name="SiLongEma" autocomplete="off" class="btn-check">
									<label for="kazuopara17" class="btn btn-outline-secondary">EMA長 (指數移動平均線 - 長期)</label>
									<input type="checkbox" id="kazuopara18" name="SiShortEma" autocomplete="off" class="btn-check">
									<label for="kazuopara18" class="btn btn-outline-secondary">EMA短 (指數移動平均線 - 短期)</label>
									<input type="checkbox" id="kazuopara19" name="SiDif" autocomplete="off" class="btn-check">
									<label for="kazuopara19" class="btn btn-outline-secondary">DIF (差離值)</label>
									<input type="checkbox" id="kazuopara20" name="SiMacd" autocomplete="off" class="btn-check">
									<label for="kazuopara20" class="btn btn-outline-secondary">MACD</label>
									<input type="checkbox" id="kazuopara21" name="SiOsc" autocomplete="off" class="btn-check">
									<label for="kazuopara21" class="btn btn-outline-secondary">OSC</label>
									<input type="checkbox" id="kazuopara22" name="SiMa" autocomplete="off" class="btn-check">
									<label for="kazuopara22" class="btn btn-outline-secondary">OSC_MA</label>
								</div>
							</div>
						</div>
						<div class="accordion-item BpartBox">
							<h2 class="accordion-header" id="flush-headingTwo">
								<button class="accordion-button collapsed BpartBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
									基本面
								</button>
							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body ParaArea Bpart">
									<input type="checkbox" id="kazuopara23" name="SbYield" autocomplete="off" class="btn-check">
									<label for="kazuopara23" class="btn btn-outline-secondary">殖利率</label>
									<input type="checkbox" id="kazuopara24" name="SbPbratio" autocomplete="off" class="btn-check">
									<label for="kazuopara24" class="btn btn-outline-secondary">淨值比</label>
									<input type="checkbox" id="kazuopara25" name="SbEps" autocomplete="off" class="btn-check">
									<label for="kazuopara25" class="btn btn-outline-secondary">EPS</label>
									<input type="checkbox" id="kazuopara26" name="SbBussinessIncome" autocomplete="off" class="btn-check">
									<label for="kazuopara26" class="btn btn-outline-secondary">營業收入</label>
									<input type="checkbox" id="kazuopara27" name="SiPe" autocomplete="off" class="btn-check">
									<label for="kazuopara27" class="btn btn-outline-secondary">PE (市盈率)</label>
								</div>
							</div>
						</div>
					</div>



					@* 標註 *@
					@* <input type="checkbox" id="kazuopara28" name="ST_Date" autocomplete="off" class="btn-check">
					<label for="kazuopara28" class="btn btn-outline-secondary">日期</label>
					<input type="checkbox" id="kazuopara29" name="ST_Year_Quarter" autocomplete="off" class="btn-check">
					<label for="kazuopara29" class="btn btn-outline-secondary">年/季</label>
					<input type="checkbox" id="kazuopara30" name="SteDividendYear" autocomplete="off" class="btn-check">
					<label for="kazuopara30" class="btn btn-outline-secondary">最近一筆股利發放年</label> *@
				</div>

				<br>
				<h5>參數選擇:</h5>
				<div id="ModelParaInputArea">
				</div>
				<br>
				<div class="text-center">
					<button id="ksOkbutton2" class="btn-w-hover">建立模型</button>
				</div>
				<br>
				<br>
				<div id="predictionResult2"></div>
				<div class="progress" id="ksprogressOuter">
					<div class="progress-bar progress-bar-striped progress-bar-animated" id="ksprogressOuterLine" role="progressbar"
						 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
				</div>
			</div>
			@* <button id="updateAllStockBtn">update All Stock Btn</button> *@
			<div class="detail-box">
				@* 預測詳細資料 *@
				<div class="p-5 mb-4 rounded-3 photo-box">
					<div class="container-fluid py-5 w-100" 　>
						<h1 id="cmt" class="display-5 fw-bold">Stock Propher</h1>
						<p class="col-md-10 fs-4 main-detail">預測「追蹤中」，整體走勢「看空」，參考價「737.48」元；待14日，模型穩定後，追蹤預估準確率。此預測將於「29」天後結案。</p>
						<div class="resultBtnG">
							<button name="btn" class="btn btn-primary btn-lg resultBtn rBtn1" style="margin-right:12px" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c1" aria-expanded="true" aria-controls="#flush-c1">
								績效
							</button>
							<button name="btn" class="btn btn-primary btn-lg ma-5 resultBtn rBtn2" style="margin-right:12px" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c2" aria-expanded="true" aria-controls="#flush-c2">
								結果
							</button>
							<button name="btn" class="btn btn-primary btn-lg ma-5 resultBtn rBtn3" style="margin-right:12px" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c3" aria-expanded="true" aria-controls="#flush-c3">
								參數
							</button>
							<button name="btn" class="btn btn-primary btn-lg ma-5 resultBtn rBtn4" style="margin-right:12px" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c4" aria-expanded="true" aria-controls="#flush-c4">
								評估
							</button>
						</div>
					</div>

					<div class="accordion accordion-flush" id="accordionFlushExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingOne1">
								@* <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c1" aria-expanded="false" aria-controls="flush-collapseOne">
								模型績效
								</button> *@
							</h2>
							<div id="flush-c1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body ">
									<div class="container-fluid">
										<div class="row" name="th">
											<div class="col">
												預測前 時間
											</div>
											<div class="col">
												@(isTracing ? "目前 時間" : "結案 時間")
											</div>
											<div class="col">
												預測前 參考價<br>(A)
											</div>
											<div class="col">
												預測 參考價<br>(B)
											</div>
											<div class="col">
												目前 參考價<br>(C)
											</div>
											<div class="col">
												預測走勢<br>(D, A vs B)
											</div>
											<div class="col">
												實際走勢<br>(E, A vs C)
											</div>
											<div class="col">
												@(isTracing ? "預估結果" : "結案結果")<br>(F, D vs E)
											</div>
											<div class="col">
												@(isTracing ? "預估準確率" : "準確率")<br>(G, B vs C)
											</div>
											<div class="col">
												@(isTracing ? "預測誤差" : "實際誤差")<br>(H, B vs C)
											</div>
										</div>

										<div class="row">
											<div class="col">
												@(ori_timeArea)
											</div>
											<div class="col">
												@timeArea
											</div>
											<div class="col">
												@(Model.PreDictLabel)
											</div>
											<div class="col">
												@(Model.Plabel)
											</div>
											<div class="col">
												@(Model.PCurLabel)
											</div>
											<div class="col">
												@(Model.PreTrend)
											</div>
											<div class="col">
												@("走" + Model.PActTrend.Substring(1, 1))
											</div>
											<div class="col">
												@(isTracing ? "-" : Model.PAccuracyRatio + "%")
											</div>
											<div class="col">
												@(isTracing ? "-" : Model.PAccuracyRatio + "%")
											</div>
											<div class="col">
												@(Model.PSpreadRatio + "%")
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingOne2">
								@* <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c2" aria-expanded="false" aria-controls="flush-collapseOne">
								預測結果
								</button> *@
							</h2>
							<div id="flush-c2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body ">
									<div class="container-fluid">
										<div class="row" name="th">
											<div class="col">
												股票名稱
											</div>
											<div class="col">
												參考價格
											</div>
											<div class="col">
												建立時間
											</div>
											<div class="col">
												結案時間
											</div>
										</div>

										<div class="row">
											<div class="col" id="stockname">
												2330 - 台積電
											</div>
											<div class="col">
												@(Model.Plabel)
											</div>
											<div class="col">
												@PbulidTime
											</div>
											<div class="col">
												@PfinishTime
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne3">
									@* <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c3" aria-expanded="false" aria-controls="flush-collapseOne">
									模型參數
									</button> *@
								</h2>
								<div id="flush-c3" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body ">
										<div class="container-fluid">
											<div class="row" id="HereParas_th" name="th">
												<div class="col">
													使用模型
												</div>
												<div class="col">
													投資偏好
												</div>
												<div class="col">
													使用變數
												</div>
											</div>
											<div class="row" id="HereParas_td">
												<div class="col">
													@ViewBag.result.usingModel
												</div>
												<div class="col">
													@((Model.Pprefer == 1) ? "短期投資" : "長期投資")
												</div>
												<div class="col" id="Pvariable">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne4">
									@* <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-c4" aria-expanded="false" aria-controls="flush-collapseOne">
									模型評估
									</button> *@
								</h2>
								<div id="flush-c4" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body">
										<div class="container-fluid">
											<div class="row" id="modelEva_th" name="th">
											</div>
											<div class="row" id="modelEva_tb">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				@* 預測詳細資料 *@
				@* 走勢圖 *@
				<div class="p-5 mb-4 rounded-3 photo-box boxForChart" style="margin-top:30px">
					<canvas id="stockChart" style="width:70vw;height:50vw"></canvas>
				</div>
				@* 走勢圖 *@
			</div>

		</div>
	</div>
	<button class="btn-w-hover back-btn" style="display:none">回到首頁</button>
		<div class="mask-group" style="display:none">
			<div class="cover-box"></div>
		<div class="point-box point-box-left">
				<div class="describe">WDEGRTH</div>
			<button class="step-btn">Next</button>
			</div>
		</div>
		<div class="point-box2">
			<div class="describe2">WDEGRTH</div>
		</div>
</div>


<script>
	// var newHeight = 0;
	var PBwidth, PBheight, PBX, PBY;
	 	//初始化:不需要的東西先隱藏
	 	$('#beforeLog').hide();
	 	$('#afterLog').show();
	 	$("#borisform1,#borisform2,#chart").css("display", "none");
	 	$("#kazuoform3, #kazuoform4").css("display", "none");
	 	$("#longterm,#shortterm,#checkmodel,#selectmodel").prop("disabled", true);
	 	$(".ParaArea>label").css("margin", "5px");
		$("#borisform1").css("display", "none");
		$(".part-one").css("display", "none");
		$(".detail-box").css("display", "none");
		$("#step2").hide();
		$(".point-box2").hide();

	
	var arrorStep = 1;
	//結束標題，要開始第一part
	//箭頭的部分
	function continueVister(){
		switch (arrorStep) {
			case 1: {
				$(".arror-icon").hide();
				$(".start-part").addClass("dispearAni");
				$(".pre-container").css("height", "15rem");
				setTimeout(function () {
					$(".start-part").hide();
					$(".part-one").addClass("showAni").show();
					Bwidth = $("#stockidV").outerWidth();
					PBheight = $("#stockidV").outerHeight();
					PBX = $("#stockidV").offset().left;
					PBY = $("#stockidV").offset().top;
					// console.log(Bwidth, PBheight, PBX, PBY)
					$(".mask-group").show();
					$(".cover-box").css({
						"height": PBheight,
						"width": Bwidth,
						"left": PBX,
						"top": PBY
					})
					$("#stockname").text("");
					$(".describe").text("填入想預測的股票代號");
					$(".point-box").css({
						"left": PBX + Bwidth + 20,
						"top": PBY - 20
					});
				}, 500)

				var i = 0, x = 700;
				var num = 0;
				while (i < 4) {
					setTimeout(function () {
						var ans;
						// console.log(num);
						if (num == 0) { ans = 2 } else if (num == 3) { ans = 0 } else ans = 3;
						num++;
						$("#stockidV").val(function (n, c) {
							return c + ans;
						});
					}, x += 200);
					i++;
				}
				arrorStep = 2;
				break;
			}

			case 2: {
				$(".arror-icon").hide();
				$(".part-one").removeClass("showAni");
				$(".part-one").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function(){
						$(".part-one").hide();
						$(".pre-container").css("height", "30rem");
						setTimeout(function(){
							$("#step2").addClass("showAni").show();
							Bwidth = $(".btn-group").outerWidth();
							PBheight = $(".btn-group").outerHeight();
							PBX = $(".btn-group").offset().left;
							PBY = $(".btn-group").offset().top;
							//前置結束，開始說明
							$(".mask-group").css("opacity", 1).show();
							$("#longterm").removeAttr('disabled');
							$("#shortterm").removeAttr('disabled');

							$(".cover-box").css({
								"height": PBheight,
								"width": Bwidth,
								"left": PBX,
								"top": PBY
							})
							$("#stockname").text("");
							$(".describe").text("可根據自己的習慣，選擇長期或短期投資偏好");
							$(".point-box").css({
								"left": PBX + Bwidth + 20,
								"top": PBY - 20
							});
						},500)
					}
				})
				arrorStep = 3;
				break;
			}

			case 3: {
				$(".arror-icon").hide();
				$("#step2").removeClass("showAni");
				$(".point-box2").hide();
				$("#step2").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function () {
						$("#step2").hide();
					$(".arror-icon-content").hide();
						$(".pre-container").css("height", "45rem");
						setTimeout(function () { 

							$("#kazuoform3").addClass("showAni").show();
							appendInfo();
							$(".ApartBtn").trigger('click');
							setTimeout(function () {
								$(".point-box").removeClass(".point-box-left").addClass("point-box-down");
								$(".mask-group").css("opacity", 1).show();
								Bwidth = $(".ApartBox").outerWidth();
								PBheight = $(".ApartBox").outerHeight();
								PBX = $(".ApartBox").offset().left;
								PBY = $(".ApartBox").offset().top;
								$(".cover-box").css({
									"height": PBheight,
									"width": Bwidth,
									"left": PBX,
									"top": PBY
								})
								$(".describe").text("技術面包含多種分析指標，可複選想要帶入計算的項目");
								$(".point-box").css({
									"left": PBX + Bwidth - (Bwidth / 2),
									"top": PBY - 160,
									"width": "300px"
								});
							}, 300)
							
						},500)
					}
				})
				arrorStep = 4;
				break;
			}//case4尾
			case 4:{
				$(".arror-icon").hide();
				$(".detail-box").removeClass("showAni");
				$(".detail-box").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function(){
						$(".detail-box").hide();
						$(".pre-container").css("height", "15rem");
						setTimeout(function(){
							$(".start-final").addClass("showAni").show();
							$(".back-btn").show();
						},500)

					}
				})
			}
		}

	}

	//next的部分
	var stepNum = 1;
	$(".step-btn").on("click", function () {

		switch (stepNum){
			case 1: { 
				Bwidth = $("#stockname").outerWidth();
				PBheight = $("#stockname").outerHeight();
				PBX = $("#stockname").offset().left;
				PBY = $("#stockname").offset().top;
				$(".cover-box").css({
					"height": PBheight,
					"width": Bwidth,
					"left": PBX,
					"top": PBY
				})
				$(".describe").text("正確輸入會自動帶出中文名稱");
				$(".point-box").css({
					"left": PBX + Bwidth + 20,
					"top": PBY - 20
				});
				$("#stockname").text("台積電");
				stepNum = 2;
				break;
			}//step1尾

			case 2: {
				$(".mask-group").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function () {
						$(".mask-group").css("display", "none");
						$("#stockidV").val("").attr("placeholder", "請試著輸入2330");
						$("#stockname").text("");
						var stinputNum = 0;
						var hasStName = false;
						$("#stockidV").on({
							input: function () {
								event.preventDefault();
								switch (stinputNum) {
									case 0: {
										$("#stockidV").val(2);
										break;
									}
									case 1: {
										$("#stockidV").val(23);
										break;
									}
									case 2: {
										$("#stockidV").val(233);
										break;
									}
									case 3: {
										$("#stockidV").attr('readonly', true);
										$("#stockidV").val(2330);
										setTimeout(function () { $("#stockname").text("台積電"); }, 300);
										$(".arror-icon").show();
										hasStName = true;
										break;
									}
									default: {
										$("#stockidV").val(2330);
										if (!hasStName) {
											setTimeout(function () { $("#stockname").text("台積電"); }, 300);
											$(".arror-icon").show();
										}
									}
								}
							},
							keyup: function () {
								stinputNum++;
							}
						});
					}
				})
				stepNum = 3;
				break;
			}//step2尾

			case 3: {	//介紹模型
				Bwidth = $(".form-select").outerWidth();
				PBheight = $(".form-select").outerHeight();
				$("#longterm").addClass("lontermBtnS");
				// $("#longterm").css({
				// 	"color": "white",
				// 	"background-color": "#87aeb4"
				// })
				$("#selectmodel option[value='2']").prop("selected", true);
				$("#selectmodel option[value='4']").prop("selected", true);
				PBX = $(".form-select").offset().left;
				PBY = $(".form-select").offset().top;
				$(".cover-box").css({
					"height": PBheight,
					"width": Bwidth,
					"left": PBX,
					"top": PBY
				})
				$("#stockname").text("");
				$(".describe").text("根據使用者選擇，我們會加上底色，推薦適合的模型");
				$(".point-box").css({
					"left": PBX + Bwidth + 20,
					"top": PBY - 20
				});
				stepNum = 4;
				break;
			}//step3尾

			case 4: {	//介紹模型 續 使用者自己操作
				// $("#longterm").css({
				// 	"color": "#87aeb4",
				// 	"background-color": "white"
				// })
				$("#longterm").removeClass("lontermBtnS");
				$("#longterm").removeClass("btn-w-hover");
				$("#longterm").addClass("btn-w-hover");
				$("#selectmodel option[value='2']").prop("selected", false);
				$("#selectmodel option[value='4']").prop("selected", false);
				$(".mask-group").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function () {
						$(".mask-group").hide();
						$(".selectmodel-1").on("click", function () { optionSelect(".selectmodel-1") })
						$(".selectmodel-2").on("click", function () { optionSelect(".selectmodel-2") })
						$(".selectmodel-3").on("click", function () { optionSelect(".selectmodel-3") })
						$(".selectmodel-4").on("click", function () { optionSelect(".selectmodel-4") })
						$(".arror-icon").show();
						$(".arror-icon-content").show();
					}
				})
				stepNum = 5;
				break;

			}//step4尾

			case 5:{
				$(".BpartBtn").trigger('click');
				setTimeout(function(){
					Bwidth = $(".BpartBox").outerWidth();
					PBheight = $(".BpartBox").outerHeight();
					PBX = $(".BpartBox").offset().left;
					PBY = $(".BpartBox").offset().top;
					$(".cover-box").css({
						"height": PBheight,
						"width": Bwidth,
						"left": PBX,
						"top": PBY
					})
					$(".describe").text("基本面則提供該公司的營運數值，也是重要的參考項目");
					$(".point-box").css({
						"left": PBX + Bwidth - (Bwidth / 2),
						"top": PBY - 160,
						"width": "300px"
					});
				},300)	//收合會改變位置，晚點再抓
				stepNum = 6;
				break;
			}//step5尾

			case 6:{ 
				$(".BpartBtn").trigger('click');
				setTimeout(function () {
					Bwidth = $("#ModelParaInputArea").outerWidth();
					PBheight = $("#ModelParaInputArea").outerHeight();
					PBX = $("#ModelParaInputArea").offset().left;
					PBY = $("#ModelParaInputArea").offset().top;
					$(".cover-box").css({
						"height": PBheight,
						"width": Bwidth,
						"left": PBX,
						"top": PBY
					})
					$(".describe").text("最大迭代數為訓練迭代的次數，模型將會根據校正方法（這邊使用均方誤差mse）進行參數更新，以使模型的預測值更接近真實的結果。");
					$(".point-box").css({
						"left": PBX + Bwidth - (Bwidth / 2),
						"top": PBY - 200,
						"width": "300px"
					});
				}, 300)
				stepNum = 7;
				break;
			}//step6尾

			case 7: {
				Bwidth = $("#ksOkbutton2").outerWidth();
				PBheight = $("#ksOkbutton2").outerHeight();
				PBX = $("#ksOkbutton2").offset().left;
				PBY = $("#ksOkbutton2").offset().top;
				$(".point-box").removeClass("point-box-down").addClass("point-box-left");	
				$(".cover-box").css({
					"height": PBheight,
					"width": Bwidth,
					"left": PBX,
					"top": PBY
				})
				$("#ksOkbutton2").addClass("lontermBtnS");
				$(".describe").text("選好變數及參數後，按下Build鈕開始建立預測，等待進度條完成即可看見詳細結果");
				// $(".point-box").removeClass(".point-box-left").addClass("point-box-down");
				$("#ksprogressOuter").css("display", "flex");// 初始化進度
				$(`#ksprogressOuterLine`).animate({
					width: "500%"
				}, 2000)
				$(".point-box").css({
					"left": PBX + Bwidth + 20,
					"top": PBY - 20,
					"width": "400px"
				});
				stepNum = 8;
				break;
			}//step7尾

			case 8:{
				$(".mask-group").animate({
					opacity: 0
				}, {
					duration:500,
					complete: function(){
						$(".mask-group").css("display", "none");
						$("#ksprogressOuter").css("display", "none");// 初始化進度
						$("#ksOkbutton2").removeClass("lontermBtnS");
						$("#ksOkbutton2").removeClass("btn-w-hover");
						$("#ksOkbutton2").addClass("btn-w-hover");
						$("#ksprogressOuter").css("display", "none");
						isTutorial = false;
						$(".arror-icon-content").text("在體驗預測中，結果會以開盤價、收盤價、最高價、殖利率及迭代數100呈現哦！").show();
					}
				})
				stepNum = 9;
				break;
			}//step8尾

			case 9:{
				Bwidth = $(".boxForChart").outerWidth();
				PBheight = $(".boxForChart").outerHeight();
				PBX = $(".boxForChart").offset().left;
				PBY = $(".boxForChart").offset().top;
				$(".cover-box").css({
					"height": PBheight,
					"width": Bwidth,
					"left": PBX,
					"top": PBY
				})
				$(".describe").text("以收盤價組成的走勢圖，可作為預測結果的參考");
				$(".point-box").removeClass("point-box-left").addClass("point-box-down");	
				$(".point-box").css({
					"left": PBX + Bwidth - (Bwidth / 2),
					"top": PBY - 160,
					"width": "300px"
				});
				stepNum = 10;
				break;
			}//step9尾

			case 10:{
				$(".mask-group").animate({
					opacity: 0
				},{
					duration: 500,
					complete: function(){
						$(".mask-group").css("display", "none");
						$(".arror-icon").css("z-index","10").show();
					}
				})
			}
		}//switch尾
		
	})//click尾


	function appendInfo() {	//迴歸參數的部分設定生成
		$(".appendT").remove();
		$(".appendRmax").remove();
		var R_maximumNumberOfIterations = $("<table class='table appendT' style='text-align:center;vertical-align: middle;' >" +
		 	"<thead>" +
		 	"<th style='width:25% '>" +
		 	"<label for='R_maximumNumberOfIterations' class='appendRmax'>最大迭代數</label>" +
		 	"</th>" +
		 	"</thead>" +
		 	"<tr><td>" +
		 	"<input class='appendRmax appendTt' style='width:25%' id='R_maximumNumberOfIterations' name='R_maximumNumberOfIterations' type ='number' value=100  max='365' min='1'/> " +
		 	"</td></tr ></table>");
		$("#ModelParaInputArea").append(R_maximumNumberOfIterations);
	}
	function stockinput() { };	//呃，先放著裝飾用
	function optionSelect(obj){
		PBX = $(obj).offset().left;
		PBY = $(obj).offset().top;
		switch (obj) { 
			case ".selectmodel-1": {
				$(".describe2").text("LSTM具有良好的記憶能力，能夠處理時間序列數據中的時間依賴性，在具有明顯的時間趨勢和季節性的股價數據等情況下，通常會使用LSTM等模型來提供更準確的預測");
				break;
			}
			case ".selectmodel-2": {
				$(".describe2").text("FNN能夠快速地計算輸入和輸出之間的映射關係，因此在一些簡單的迴歸問題中表現良好")
				break;
			}
			case ".selectmodel-3": {
				$(".describe2").text("迴歸模型的特點是能將多個預處理步驟和回歸模型串聯起來，相較其他模型，回歸可以簡單、快速的方計算各變數的權重，產生預測值")
				break;
			}
			case ".selectmodel-4": {
				$(".describe2").text("時間序列模型主要考慮時間的重要性，能夠捕捉股價隨時間變化的規律和趨勢，對於具有明顯的季節性和趨勢性的股價資料，時間序列模型通常能夠提供較為準確的預測")
				break;
			}
		}
		if (hasClicked) {
			$(".point-box2").addClass("animate__animated").addClass("animate__fadeIn").show();
		}

		$(".point-box2").css({
			"left": PBX + Bwidth + 20,
			"top": PBY - 20
		});
	}

	var hasClicked = false;	//是否已按過長期or短期
	$("#longterm").on("click", function () {
		hasClicked = true;
		$("#longterm").css({
		 	"color": "white",
		 	"background-color": "#87aeb4"
		})
		$("#shortterm").css({
		 	"color": "#87aeb4",
		 	"background-color": "white"
		})
		$("#selectmodel").prop("disabled", false);
		$("#selectmodel option[value='1']").prop("selected", false);
		$("#selectmodel option[value='2']").prop("selected", true);
		$("#selectmodel option[value='3']").prop("selected", false);
		$("#selectmodel option[value='4']").prop("selected", true);
		$("#checkmodel").prop("disabled", false);
		$(".progress").hide();
		prefertype = 2;
	})
	$("#shortterm").on("click", function () {
			hasClicked = true;;
		$("#shortterm").css({
		 	"color": "white",
		 	"background-color": "#87aeb4"
		})
		$("#longterm").css({
		 	"color": "#87aeb4",
		 	"background-color": "white"
		})
		$("#selectmodel").prop("disabled", false);
		$("#selectmodel option[value='1']").prop("selected", true);
		$("#selectmodel option[value='2']").prop("selected", false);
		$("#selectmodel option[value='3']").prop("selected", true);
		$("#selectmodel option[value='4']").prop("selected", false);

		$("#checkmodel").prop("disabled", false);
		$(".progress").hide();
		prefertype = 1;
	})

	var isTutorial = true;
	//進度條
	$("#ksOkbutton2").on("click", function () { 
		$(this).css("pointer-events", "none");
		$(this).css({
			"color":"white",
			"background-color":"#87aeb4"
		});
		$(`#ksprogressOuterLine`).css("width", "0%");
 		$("#ksprogressOuter").css("display", "flex");// 初始化進度
		$(".ApartBtn").css("pointer-events", "none");
		$(".BpartBtn").css("pointer-events", "none");
		$("#R_maximumNumberOfIterations").css("pointer-events", "none");
		$(`#ksprogressOuterLine`).animate({
			width: "500%"
		}, {
			duration: 300,
			complete: function () {	//叫最後的圖表
				if(!isTutorial){
				$("#kazuoform3").removeClass("showAni");
				$("#kazuoform3").animate({
					opacity: 0
				}, {
					duration: 500,
					complete: function(){
						$("#kazuoform3").hide();
						$(".arror-icon-content").hide();
						$(".pre-container").css("height", "80rem");
						setTimeout(function(){
							$(".detail-box").addClass("showAni").show();
							$(".mask-group").css("opacity", 1).show();
							Bwidth = ($(".resultBtn").outerWidth(true)) * 4;
							PBheight = $(".resultBtnG").outerHeight();
							PBX = $(".resultBtnG").offset().left;
							PBY = $(".resultBtnG").offset().top;
							$(".rBtn1").trigger("click");
							
							
							$(".cover-box").css({
									"height": PBheight,
									"width": Bwidth,
									"left": PBX,
									"top": PBY
							})
							$(".describe").text("提供四種詳細資訊");
								$(".point-box").css({
								"left": PBX + Bwidth +20,
								"top": PBY - 20,
								"width": "auto"
							});
						})
					}
				})
				}
			}
		});
	})

	//處理四個按紐的部分TT
	var resultBtn = $(".resultBtn");
	// console.log(resultBtn);
	$(resultBtn).each(function(){
		// console.log($(this))
		$(this).on("click", function(){
			checkIsClick(this);
			$(this).addClass("BtnHasClicked")
			// $(this).trigger("click");	//補按回來
		})
	})

function checkIsClick(btn) {  //實在抓不到  直接土法煉鋼
	if(($(".rBtn1").hasClass("BtnHasClicked"))){
		$("#flush-c1").collapse('hide');
		console.log("1");
	}
	if(($(".rBtn2").hasClass("BtnHasClicked"))){
		$("#flush-c2").collapse('hide');
		$(".rBtn2").removeClass("BtnHasClicked");
		console.log("2");
	}
	if(($(".rBtn3").hasClass("BtnHasClicked"))){
		$("#flush-c3").collapse('hide');
		$(".rBtn3").removeClass("BtnHasClicked");
		console.log("3");
	}
	if(($(".rBtn4").hasClass("BtnHasClicked"))){
		$("#flush-c4").collapse('hide');
		$(".rBtn4").removeClass("BtnHasClicked");
		console.log("4");
	}

	$(".back-btn").on("click",function(){
		window.location.href = "/Home/Index"
	})
}


	var actualData = @Html.Raw(Json.Serialize(ChartData));
	var predictedData = @Html.Raw(Json.Serialize(Model.Plabel));

	var formattedData = actualData.map(function (item) {
		var date = moment(item.StDate).format('YYYY-MM-DD');
		return {
			x: date,
			y: item.SteClose,
			label: '日期: ' + date + ', 收盤價: ' + item.SteClose
		};
	});
	var formattedDataRemoveLast = formattedData.slice();

	formattedDataRemoveLast.pop();
	var formatDate_Ori = (@Html.Raw(Json.Serialize(ori_timeArea_Jtype)));

	var dateStrings = formatDate_Ori.split(",");
	var dateObjects_Ori = [];
	$.each(dateStrings, function (i, val) {
		var date = new Date(val);
		dateObjects_Ori.push(moment(date).format('YYYY-MM-DD'));
	})

	var formatDate_Lat = (@Html.Raw(Json.Serialize(timeArea_Jtype)));

	dateStrings = formatDate_Lat.split(",");
	var dateObjects_Lat = [];
	$.each(dateStrings, function (i, val) {
		var date = new Date(val);
		dateObjects_Lat.push(moment(date).format('YYYY-MM-DD'));
	})

	var lastActualDate = moment(formattedData[formattedData.length - 1].x);
	var predictedDate = moment(lastActualDate);
	var formattedPredictedDate = predictedDate.format('YYYY-MM-DD');
	var predictedClosePrice = predictedData;
	var predictedDate1 = predictedDate.format('YYYY-MM-DD');
	var isnn = @Html.Raw(Json.Serialize(IsNNModel));

	var ctx = document.getElementById('stockChart').getContext('2d');

	var stockChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: [],
			datasets: [{
				label: '實際收盤價',
				data: formattedData,
				borderColor: 'rgba(115, 181, 197, 0.7)', // 淡藍色
				fill: false
			}, {
				label: '實際收盤價',
				data: [{
					x: formattedData[formattedData.length - 1].x,
					y: formattedData[formattedData.length - 1].y
				}],
				borderColor: 'rgba(115, 181, 197, 0.7)', // 淡藍色
				fill: false,
				pointRadius: 10
			}, {
				label: '預測參考價',
				data: [{
					x: formattedPredictedDate,
					y: predictedClosePrice
				}],
				borderColor: 'red',
				fill: false,
				pointRadius: 10
			}, {
				label: '趨勢線',
				data: [{
					x: formattedData[formattedData.length - 1].x,
					y: (isnn) ? formattedData[formattedData.length - 1].y : @Html.Raw(Json.Serialize(Model.PCurLabel))
						}, {
					x: formattedPredictedDate,
					y: predictedClosePrice
				}],
				borderColor: 'red',
				fill: false,
				pointRadius: 0,
				borderWidth: 0.5,
				borderDash: [5, 5]
			}, {
				label: '預測前' + @Html.Raw(Json.Serialize(finishdate))+'日移動平均',
				data: [{
					x: dateObjects_Ori[0],
					y: @Html.Raw(Json.Serialize(Model.PreDictLabel)) // 设置水平线的 y 坐标值
					}, {
					x: dateObjects_Ori[dateObjects_Ori.length - 1],
					y: @Html.Raw(Json.Serialize(Model.PreDictLabel))
					}],
				borderColor: 'black',
				fill: false,
				borderWidth: 3,
				borderDash: [5, 5],
				hidden: false // 結案的話秀
			}, {
				label: '近' + @Html.Raw(Json.Serialize(finishdate))+'日移動平均*',
				data: [{
					x: dateObjects_Lat[0],
					y: @Html.Raw(Json.Serialize(Model.PCurLabel)) // 设置水平线的 y 坐标值
					}, {
					x: dateObjects_Lat[dateObjects_Lat.length - 1],
					y: @Html.Raw(Json.Serialize(Model.PCurLabel))
					}],
				borderColor: 'red',
				fill: false,
				borderWidth: 3,
				//borderDash: [5, 5],
				hidden: @Html.Raw(Json.Serialize(!NeedShowAcc)) // 设置水平线1隐藏
					}]
		},
		options: {
			responsive: true, // 禁用響應式
			maintainAspectRatio: false, // 禁用維持長寬比
			scales: {
				x: {
					ticks: {
						maxTicksLimit: 15 // 限制最大刻度數為 15
					}

				},
				y: {
					ticks: {
						beginAtZero: true
					}
				}
			}

		}
	});

	$("#mypredictresult").on("click", function () {
		window.location.href = "/Member/MyPredictResult"
	})
	$("#mystockid").on("click", function () {
		window.location.href = "/Home/StockCharts/" + @Model.Pstock
	})
	$.ajax({
		url: "/StockModel/stocksnamewithcsv",
		method: "get",
		data: { data: @Model.Pstock },
		success: function (e) {
			$("#stockname").text("2330 - 台積電");

		}
	})
	function TransJtoO(DummyBlock) {

		var ToJ = JSON.parse(DummyBlock);
		// console.log(ToJ);
		var eva = new Object();
		var pars = new Object();
		// var keys = Object.keys(ToJ);
		// console.log(keys[0]);
		$.each(ToJ, function (i, val) {
			if (i == "MSE") {
				eva.均方誤差 = val;
			} else if (i == "RMSE") {
				eva.均方根誤差 = val;
			} else if (i == "Iters") {
				pars.迭代數 = val;
			} else if (i == "uEsti") {
				pars.誤差上界 = val;
			} else if (i == "lEsti") {
				pars.誤差下界 = val;
			} else if (i == "wSize") {
				pars.視窗尺寸 = val;
			} else if (i == "sLen") {
				pars.系列尺寸 = val;
			} else if (i == "tSize") {
				pars.資料筆數 = val;
			} else if (i == "cLev") {
				pars.信心水準 = val;
			} else if (i == "Layerchoose") {
				pars.神經層數 = val;
			}
			// console.log(i+" = "+val);
		})
		// console.log(eva);
		// console.log(pars);
		var EvaOrPar = new Object();
		EvaOrPar.eva = eva;
		EvaOrPar.pars = pars;
		// console.log(EvaOrPar);

		var isTracing = @Html.Raw(Json.Serialize(isTracing));
		var acc = @Html.Raw(Json.Serialize(Model.PAccuracyRatio));
		if (isTracing) {
			eva.預計準確率 = (acc) + "%";
		} else {
			eva.準確率 = (acc) + "%";
		}
		$("#HereParas").text(JSON.stringify(pars));

		// 把變數轉成中文顯示
		var varsMapTableJ = @Html.Raw(Json.Serialize(VarsTable));
		var PvariableJ = @Html.Raw(Json.Serialize(Model.Pvariable));
		var varsMapTable = JSON.parse(varsMapTableJ);
		var Pvariable = JSON.parse(PvariableJ);

		var TradVars = "";
		var k = 0;
		$.each(varsMapTable, function (i, ival) {
			for (var j = 0; j < Pvariable.length; j++) {
				if (i == Pvariable[j]) {
					if (k == 0) {
						TradVars = ival + ', ';
					}
					else if (k == Pvariable.length - 1) {
						TradVars += ival;

					} else {
						TradVars += ival + ', ';

					}
					k++;
				}

			}
		})
		// console.log(`${TradVars}`);
		$("#Pvariable").text("開盤價, 收盤價, 最高價, 營收");


		$.each(eva, function (i, val) {
			if (i == "預計準確率" || i == "準確率") { } else {
				$("#modelEva_th").append("<div class='col'>" + i + "</div>");
				$("#modelEva_tb").append("<div class='col'>" + val + "</div>");
			}
		})
		$.each(pars, function (i, val) {
			$("#HereParas_th").append("<div class='col'>" + i + "</div>");
			$("#HereParas_td").append("<div class='col'>" + val + "</div>");
		})
		return EvaOrPar;
	}
	TransJtoO(@Html.Raw(Json.Serialize(Model.Dummyblock)));


</script>
