@model StockProphet_Project.Models.DbModel

@{
    ViewData["Title"] = "Details";
}

<div class="area-container">
    <div class="manager-modify">
        <h1>Details</h1>

        <div>
            <h4>DbModel</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Pstock)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Pstock)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Pvariable)
                </dt>
                <dd class="col-sm-10 mb-3" style="word-break:break-word">
                    @Html.DisplayFor(model => model.Pvariable)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Plabel)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Plabel)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Pprefer)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Pprefer)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Paccount)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Paccount)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.PbulidTime)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.PbulidTime)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.PfinishTime)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.PfinishTime)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Pstatus)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Pstatus)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Dummyblock)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Dummyblock)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.Pmodel)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.Pmodel)
                </dd>
                <dt class="col-sm-2 mb-3">
                    @Html.DisplayNameFor(model => model.PAccuracyRatio)
                </dt>
                <dd class="col-sm-10 mb-3">
                    @Html.DisplayFor(model => model.PAccuracyRatio)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Pid" class="a-style">Edit</a> |
            <a asp-action="Index" class="a-style">Back to List</a>
        </div>
    </div>
</div>

