@model IEnumerable<StockProphet_Project.Models.DbModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pstock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pvariable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pprefer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PbulidTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfinishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dummyblock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pmodel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAccuracyRatio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pstock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pvariable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pprefer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PbulidTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfinishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dummyblock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pmodel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAccuracyRatio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
